

    .navag{
        list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:rgb(160, 147, 125); 
    }
    .lin{ 
        float:right; }
        li a{ text-align: center; display: block; padding: 14px 16px; color: black;}

    label{ text-align: center; font-size: small; font-style: italic;  }
     nav{ font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif }
     body{ background-color:rgb(246, 230, 203);}

  
